---
faq:
  - question: 大赛指定使用工具吗？
    answer: 大赛不限定工具，选手们可以根据自己的喜好决定要用的工具，决赛时评委会根据最终作品进行评分。
  - question: 有哪些常用技术写作工具？
    answer: 技术写作工具非常多，常用的有oXygen，Madcap Flare，Adobe FrameMaker等。
  - question: 有哪些计算机辅助翻译工具？
    answer: SDL Trados, Deja VU，Across, MemoQ，MateCAT等。
  - question: 大赛收取费用吗？
    answer: 大赛不收取报名费，选手们需要自行承担大赛的住宿和交通费用，我方可协助出具邀请函。
  - question: 参加大赛的好处？
    answer: 可以系统性地学习技术传播与计算机辅助翻译知识，此外现场还有多家用人单位亲临现场，优秀的同学将有机会获得实习或工作的机会。此外现场还有神秘大礼。
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>