<footer>
	<div class="wrapper">
		<p class="edit-footer"><a class="editor-link btn" href="cloudcannon:collections/_data/footer.yml" class="btn" style="padding: 5px;"><strong>&#9998;</strong> Edit footer</a></p>
		<ul class="footer-links">
        <li><a class="weibo-icon" href="https://weibo.com/pkuati" target="_blank">微博</a></li>
<li><a class="RSS-icon" href="/feed.xml">订阅</a></li>
		</ul>
		<p class="copyright">&copy; {{ site.title }} {{ site.time | date: "%Y" }}. All rights reserved.</p>
	</div>
</footer>